html {
	overflow-y: scroll;
}
body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
a {
	color: #108f10;
}
#page {
	max-width: 50em;
	margin: auto;
}
.mugshot {
	width: 10em;
}
::selection {
	color: #ffffff;
	background: #108f10;
}
@media (prefers-color-scheme: dark) {
	a {
		color: #5fe35f;
	}

	body {
		background: #0d0d0d;
		color: #ebebeb;
	}

	::selection {
		color: #0d0d0d;
		background: #5fe35f;
	}
}
@media (max-width: 50em) {
	.mugshot-c {
		text-align: center;
	}
}
@media (min-width: 50em) {
	.mugshot {
		float: left;
		margin: 1em;
	}
}
.centered {
	text-align: center;
}
